/* lang='less' */
.cv {
    width: 100%;
    // height: 575px;
    background-color: #f6f7f7;
    .avatar {
        height: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &>.img {
            margin-bottom: 10px;
        }
        .name {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        .job {
            font-size: 14px;
            color: #555;
            margin-bottom: 5px;
        }
        .location {
            display: flex;
            align-itmes: center;
            .location-name {
                font-size: 12px;
                font-weight: bold;
                margin-left: 10px;
            }
        }
    }
    .info {
        width: 100%;
        overflow: hidden;
        border-top: 1px solid #dad8d7;
        border-bottom: 1px solid #dad8d7;
        &>ul {
            height: 100%;
            li:not(:last-child) {
                border-right: 1px solid #dad8d7;
            }
            li {
                float: left;
                width: 33.1%;
                box-sizing: border-box;
                height: 100%;
                overflow: hidden;
                text-align: center;
                padding: 10px 0;
                span {
                    display: inline-block;
                    margin: 0 auto;
                }
                .value {
                    margin-bottom: 5px;
                    font-size: 14px;
                    font-weight: bold;
                }
                .key {
                    font-size: 12px;
                    font-weight: bold;
                    color: #555;
                }
            }
        }
    }
}
