.sidenav {
  width: 160px;
  height: 300px;
  position: fixed;
  z-index: 1;
  top: 100px;
  left: 20px;
  /* background: #eee; */
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.cv-back {
  background: #888;
  margin: 10px;
}

.cv {
  margin: 10px;
}


.button {
  width: 160px;
  height: 80px;
  background-image: linear-gradient(160deg, #343A40,#343A40);
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 10px #888888;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0;
  margin: 2px;
  box-sizing: border-box;
  font-family: "PingFang SC", "Microsoft Yahei", sans-serif;
  z-index: 999;

}

.download-button-size{
  width: 164px
}

.button-size{
  width: 80px;
}

.button .checkmark {
  opacity: 0;
}

.button .progress-bar {
  position: absolute;
  /*width: 0px;*/
  /*top: 50px;*/
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  background-image: linear-gradient(45deg, #6C757D, white);
}


.button.downloading .middle-line{
  stroke-dasharray: 4 3;
  animation: 0.8s linear dashLoop infinite;
}

.button.downloading circle{
   animation: 1.5s linear blink infinite;
}

.button.downloaded .arrow-top{
  animation: 1s linear arrowTransform forwards;
}

.button.downloaded .checkmark{
  opacity: 1;
  stroke-dasharray: 100 100;
  stroke-dashoffset: 100;
  animation: 1s linear checkmarkTransform forwards 0.5s;
}

.button.downloaded .middle-line{
  transition: 0.3s linear;
  opacity: 0;
}

@keyframes dashLoop {
  from {
    stroke-dashoffset: 7;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes blink {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes arrowTransform {
  from {
    stroke-dasharray: 100 100;
    stroke-dashoffset: 0;
  }

  to {
    stroke-dasharray: 100 100;
    stroke-dashoffset: -100;
  }
}

@keyframes checkmarkTransform {
  from {
    stroke-dasharray: 100 100;
    stroke-dashoffset: 100;
  }
  to {
    stroke-dasharray: 100 100;
    stroke-dashoffset: 0;
  }
}

.toolsBarSize{
  height: 550px;
  width: 200px;
}

.sameLineDisplay{
  display: inline-block;
}

.fillWhite{
  fill:#fff;
}

