.background {
    background: url('../img/blackground.jpg') no-repeat center;
    background-size: cover;
    height:600px;
    position:absolute;
    line-height: 600px;
    text-align: center;
    z-index: -999;
    background-attachment:fixed
}

.background-blur {
    float: left;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    position: fixed;
}
