.container{
    position: relative;
    width: 70%;
    height: 80%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 20px 30px rgba(0,0, 0, .7);
}

.right{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 5px;
    text-align: center;

    width: 50%;
}
.left{
    width: 50%;
    border-radius: 10px;
    background-color: #343A40;
    padding: 100px 100px;
    color: #fff;
    text-align: left;
}

.invaild{
    color:red;
}

