.container{
    position: absolute;
    top:150px;
    left: 20%;
    width: 70%;
    height: 51.92%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 20px 30px rgba(0,0, 0, .7);
}

.right{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 5px;
    text-align: center;

    width: 50%;
}
.left{
    width: 50%;
    border-radius: 10px;
    background-color: #343A40;
    padding: 100px 100px;
    color: #fff;
    text-align: left;
}

.invaild{
    color:red;
}

.background {
    background: url('../img/blackground.jpg') no-repeat center;
    background-size: cover;
    height:600px;
    position:absolute;
    line-height: 600px;
    text-align: center;
    z-index: -1;
}

.background-blur {
    float: left;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
