.cv-contents section.miscellaneous{
  display: none;
}

.cv-contents img{
  height: 10.5cm;
  width:auto;
  margin:5px auto 100px;
  display:block;
}

.cv-contents .dropbox{
  width:21cm;
}

.cv-contents section.contact-info{
  text-align:center;
  padding:15px;
  margin-bottom:50px;
}
