.cv-contents * {
  margin: 0;
  padding: 0;
  font: 16px Helvetica, Sans-Serif;
  line-height: 24px;
}

.cv-contents .clear {
  clear: both;
}


.cv-contents .avatar {
  display: none;
}

.cv-contents h1 {
  margin: 0 0 16px 0;
  padding: 0 0 16px 0;
  font-size: 42px;
  font-weight: bold;
  line-height: 42px;
  letter-spacing: -2px;
  border-bottom: 1px solid #999;
}

.cv-contents h2 {
  font-size: 20px;
  margin: 0 0 6px 0;
  position: relative;
}

.cv-contents h2 span {
  position: absolute;
  bottom: 0;
  right: 0;
  font-style: italic;
  font-family: Georgia, Serif;
  font-size: 16px;
  color: #999;
  font-weight: normal;
}

.cv-contents p {
  margin: 0 0 16px 0;
}

.cv-contents a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

.cv-contents a:hover {
  border-bottom-style: solid;
  color: black;
}

.cv-contents ul {
  margin: 0 0 32px 17px;
}

.cv-contents .objective {
  width: 500px;
  float: left;
}

.cv-contents .objective p {
  font-family: Georgia, Serif;
  font-style: italic;
  color: #666;
}

.cv-contents dt {
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-align: right;
  padding: 0 26px 0 0;
  width: 150px;
  float: left;
  height: 100px;
  border-right: 1px solid #999;
}

.cv-contents dd {
  width: 600px;
  float: right;
}

.cv-contents dd.clear {
  float: none;
  margin: 0;
  height: 15px;
}
